body
{
    font-family: Calibri, Arial, Sans-Serif;
    font-size: 1em;
}

.header 
{
    background-image: url("images/bg-header.jpg");
    width: 1700px;
    height: 138px;
}

.logo
{
    padding-top: 10px;
}

.main
{
    margin: 0px auto;
    width: 980px;
    border: 1px solid black;
}