/* Text Styles
 * ----------- */

a, a:visited {
  color: #2dbfff;
}
a:hover, a:active {
  color: #2dbfff;
}

h3 {
  color: #003082;
}
h4 {
  color: #000000;
}
h5 {
  color: #F9B600;
  text-shadow: 1px 1px 0 #555555;
  text-transform: uppercase;
}
h6 {
  color: #000000;
}

/* Master page layout elements
 * --------------------------- */
body
{
    font-family: Calibri, Arial, Sans-Serif;
    font-size: 1em;
    background: #00070E url('images/bg-body.jpg') repeat-x center 138px;
    margin: 0px;
}

.header 
{
    background: url('images/bg-header.jpg') repeat-x center 0;
    width: 1700px;
    height: 138px;
}

.logo
{
    width: 980px;
    margin: -133px auto 0px auto;
}

.main
{
    margin: 0px auto;
    width: 980px;
    height: 500px;
    background-color: white;
    border: 1px solid white;
}

.menu_wrapper
{
    background-image: url("images/bg-menu-wrapper.png");
    background-repeat: repeat-x;
    height: 25px;
    width: 100%;
}

/* General Layout/Coloring
 * ----------------------- */

h1
{
    border-bottom: 2px solid black;
    padding: 50px 20px 0px 20px;
}

.formBox
{
    background-color: #EEFAFF;
    border: 1px solid black;
    padding: 10px;
    margin: 100px auto 0px auto;
}

.narrowForm
{
    width: 300px;
}

.mediumForm
{
    width: 500px;
}

.wideForm
{
    width: 700px;
}

/* Login
 * ----- */
 
.loginButton
{
    margin: 10px auto 0px auto;
    width: 100%;
    text-align: center;
}

.loginPane
{
    width: 300px;
}

.loginInput
{
    width: 150px;
    margin-left: 50px;
}

.loginLabel
{
    font-style: italic;
    font-weight: bold;
    width: 150px;
    margin-left: 50px;
}